extends ../layout

block content 
	.main-panel
		include ../partials/header
		.wrapper.wrapper-full-page.full-page-background(ng-controller="chartistController",style="background-image: url('../imgs/register.jpeg')")
			.full-page.login-page
				.content
					.container-fluid
						.row
							.col-xs-12.col-sm-12.col-md-6
								.row
									h4 1. Show area Chart
									.ct-chart.ct-perfect-fourth#showAreaChart
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								.row
									h4 2. ColouredRoundedLineChart
									.ct-chart.ct-perfect-fourth#colouredRoundedLineChart
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								.row
									h4 3. Simple Bar chart
									.ct-chart.ct-perfect-fourth#simpleBarChart
									
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								.row
									h4 4. Multiple Bar chart
									.ct-chart.ct-perfect-fourth#multipleBarsChart
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								.row
									h4 5. Pie Chart with start angle
									.ct-chart.ct-perfect-fourth#pie
							.col-xs-12.col-sm-12.col-md-6.col-lg-6
								.ct-chart.ct-perfect-fourth#chart4

block append scripts
	script(src="../js/chartist.min.js",type="application/javascript")
	script.
		var app =angular.module('eshuri_App', ['ngRoute']);

		app.controller('chartistController', function($scope, $http) {
			///....................... START ONE
			dataColouredRoundedLineChart = {
			labels: ['\'06','\'07','\'08','\'09', '\'10', '\'11', '\'12', '\'13', '\'14','\'15'],
			series: [
				[287, 480, 290, 554, 690, 690, 500, 752, 650, 900, 944]
			]
			};
			optionsColouredRoundedLineChart = {
			lineSmooth: Chartist.Interpolation.cardinal({
				tension: 10
			}),
			axisY: {
				showGrid: true,
				offset: 40
			},
			axisX: {
				showGrid: false,
			},
			low: 0,
			high: 1000,
			showPoint: true,
			height: '300px'
			};
			 var colouredRoundedLineChart = new Chartist.Line('#colouredRoundedLineChart', dataColouredRoundedLineChart, optionsColouredRoundedLineChart);
			 md.startAnimationForLineChart(colouredRoundedLineChart);
			 ////////////////////////////////END ONE
			 //..................START SECOND
			dataShowAreaChart = {
			labels: [1, 2, 3, 4],
				series: [					
						[100, 120, 180, 200],
						[160, 320, 100, 500],
						[460, 020, 90, 110],					
						]
			};
			optionsShowAreaChart = {
			lineSmooth: Chartist.Interpolation.cardinal({
				tension: 10
			}),
			showArea: true,
			axisY: {
				showGrid: true,
				offset: 40
			},
			axisX: {
				showGrid: false,
			},
			low: 0,
			high: 1000,
			showPoint: true,
			height: '300px'
			};
			var showAreaChart = new Chartist.Line('#showAreaChart', dataShowAreaChart, optionsShowAreaChart);
			md.startAnimationForLineChart(showAreaChart);
			/////////////////////////////////FIN SECOND
			// ...................... Start 3
			var dataSimpleBarChart = {
				labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
				series: [
					[542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895]
				]
				};

				var optionsSimpleBarChart = {
				seriesBarDistance: 10,
				axisX: {
					showGrid: false
				}
				};

				var responsiveOptionsSimpleBarChart = [
				['screen and (max-width: 640px)', {
					seriesBarDistance: 5,
					axisX: {
					labelInterpolationFnc: function (value) {
						return value[0];
					}
					}
				}]
				];

				var simpleBarChart = Chartist.Bar('#simpleBarChart', dataSimpleBarChart, optionsSimpleBarChart, responsiveOptionsSimpleBarChart);

				//start animation for the Emails Subscription Chart
				md.startAnimationForBarChart(simpleBarChart);
			 ///////////////////////FIN 3

			//.........................START 4
			var dataMultipleBarsChart = {
				labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
				series: [
					[542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895],
					[412, 243, 280, 580, 453, 353, 300, 364, 368, 410, 636, 695]
				]
				};

				var optionsMultipleBarsChart = {
					seriesBarDistance: 10,
					axisX: {
						showGrid: false
					},
					height: '300px'
				};

				var responsiveOptionsMultipleBarsChart = [
				['screen and (max-width: 640px)', {
					seriesBarDistance: 5,
					axisX: {
					labelInterpolationFnc: function (value) {
						return value[0];
					}
					}
				}]
				];

				var multipleBarsChart = Chartist.Bar('#multipleBarsChart', dataMultipleBarsChart, optionsMultipleBarsChart, responsiveOptionsMultipleBarsChart);

				//start animation for the Emails Subscription Chart
				md.startAnimationForBarChart(multipleBarsChart);
				////////////////////////////////?FIN 4 
			new Chartist.Pie('#pie', {
				series: [20, 10, 30, 40]
				}, {
				donut: true,
				donutWidth: 60,
				startAngle: 270,
				total: 200,
				showLabel: true
			});
			new Chartist.Pie('#chart4', {
				series: [20, 10, 30, 40]
				}, {
				donut: true,
				showLabel: true
			});
		});