extends ../layout
block append scripts
  script(src="../js/MIT/jquery.select-bootstrap.js",type="application/javascript")
block content 
  .main-panel
    include ../partials/header 
    .wrapper.wrapper-full-page.full-page-background(ng-controller="reportCtrl",style="background-image: url('../imgs/register.jpeg')")
      .full-page.login-page
        .content
          .container-fluid
            .row
              .col-md-8.center
                .card
                  .card-header.card-header-icon(data-background-color="rose")
                    i.material-icons school
                  .card-content
                    h4.card-title Complete the parameters to generate the report
                    .row
                      .col-md-3
                        .form-group.label-floating
                          label.control-label Choose the class
                          select.form-control(required="true",ng-model="selectClass",ng-change="getAcademicYearsList()")
                            option(value="", disabled selected)
                            option(value="{{class._id}}", ng-repeat="class in ClassList") {{class.name}}
                      .col-md-3
                        .form-group.label-floating
                          label.control-label Choose the academic year
                          select.form-control(required="true",ng-model="choosen_year",ng-change="getListTerms()")
                            option(value="", disabled selected)
                            option(value="{{umwaka}}", ng-repeat="umwaka in academic_years") {{umwaka|toNormal}}
                      .col-md-3
                        .form-group.label-floating
                          label.control-label Choose the {{term_name|toTermName}}
                          select.form-control(required="true",ng-model="choosen_term")
                            option(value="", disabled selected)
                            option(value="-1",) All terms 
                            option(value="{{term}}", ng-repeat="term in list_terms") {{term_name|toTermName}} {{term}}
                      .col-md-3
                        button.btn.btn-rose.center(ng-click="generateReport()") Get report
              .col-md-10.center
                .card
                  .card-header.card-header-icon(data-background-color="rose")
                    i.material-icons report
                  .card-content
                    .col-md-12
                      .box
                        .box-body
                          div
                          br
                          br
                          br
                          div(ng-hide="student_list", )
                            button.btn.btn-success(type='button',title="Print reports of selected")
                                    i.material-icons print
                            .table-responsive()
                              table.table.table-condensed.table-striped.table-bordered
                                thead
                                  tr
                                    th(rowspan='4',title="Select all"): input(type="checkbox")
                                    th(rowspan='4')
                                      | Students
                                    //Terms 
                                      ___________________+___________________+_______________________________
                                    th(colspan='5', style='text-align:center;font-weight: bold;')
                                      | Term I
                                    th(colspan='5', style='text-align:center;font-weight: bold;')
                                      | Term II
                                    th(colspan='5', style='text-align:center;font-weight: bold;')
                                      | Term III
                                    th(style='text-align:center;font-weight: bold;',rowspan="3",colspan="2")
                                      | Grand Total
                                    th(style='text-align:center;font-weight: bold;',rowspan='3')
                                      |       
                                  tr(align='center')
                                    //Courses and their totals
                                      __________________+__________________________+______________________________
                                    th(colspan='2',style='text-align:center;font-weight: bold;background: #CCC')
                                      | Math
                                    th(colspan='2',style='text-align:center;font-weight: bold;background: #CCC')
                                      | Chemistry
                                    th(colspan='',style='text-align:center;font-weight: bold;background: #CCC')
                                      | Total
                                    th(colspan='2',style='text-align:center;font-weight: bold;background: #CCC')
                                      | Physics
                                    th(colspan='2',style='text-align:center;font-weight: bold;background: #CCC')
                                      | Math
                                    th(colspan='',style='text-align:center;font-weight: bold;background: #CCC')
                                      | Total  
                                    th(colspan='2',style='text-align:center;font-weight: bold;background: #CCC')
                                      | Chemistry
                                    th(colspan='2',style='text-align:center;font-weight: bold;background: #CCC')
                                      | Physics  
                                    th(colspan='',style='text-align:center;font-weight: bold;background: #CCC')
                                      | Total  

                                  //Assessment test and exam
                                    ____________________+_______________+_______________+____________+_____
                                  tr(align='center')
                                    th(style='text-align:center;font-weight: bold;')
                                      | Test
                                    th(style='text-align:center;font-weight: bold;')
                                      | Exam
                                    th(style='text-align:center;font-weight: bold;')
                                      | Test
                                    th(style='text-align:center;font-weight: bold;')
                                      | Exam
                                    th(style='text-align:center;font-weight: bold;')
                                      |   
                                    th(style='text-align:center;font-weight: bold;')
                                      | Test
                                    th(style='text-align:center;font-weight: bold;')
                                      | Exam
                                    th(style='text-align:center;font-weight: bold;')
                                      | Test
                                    th(style='text-align:center;font-weight: bold;')
                                      | Exam
                                    th(style='text-align:center;font-weight: bold;')
                                      |   
                                    th(style='text-align:center;font-weight: bold;')
                                      | Test
                                    th(style='text-align:center;font-weight: bold;')
                                      | Exam
                                    th(style='text-align:center;font-weight: bold;')
                                      | Test
                                    th(style='text-align:center;font-weight: bold;')
                                      | Exam   
                                    th(style='text-align:center;font-weight: bold;')
                                      |   
                                            
                                tbody(align='right')
                                  tr
                                    td: input(type="checkbox")
                                    td(align='left', style='font-weight: bold; background: #e3e7ed')
                                      | Akimana
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 60%
                                    td(style='font-weight: bold; background: #CCC',colspan="2")
                                      | 60%
                                    td
                                      a.btn-simple.btn.label.btn-rose(ng-click="sendToEditQuota()") 
                                        i| view 
                                  tr
                                    td: input(type="checkbox")
                                    td(align='left', style='font-weight: bold; background: #e3e7ed')
                                      | Robert
                                    td
                                      | 100%
                                    td
                                      | 100%
                                    td
                                      | 100%
                                    td
                                      | 60%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 100%
                                    td
                                      | 100%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100% 
                                    td(style='font-weight: bold; background: #CCC',colspan="2")
                                      | 60% 
                                    td
                                      a.btn-simple.btn.label.btn-rose(ng-click="sendToEditQuota()") 
                                        i| view
                                  tr
                                    td: input(type="checkbox")
                                    td(align='left', style='font-weight: bold; background: #e3e7ed')
                                      | Skyt
                                    td
                                      | 100%
                                    td
                                      | 100%
                                    td
                                      | 100%
                                    td
                                      | 60%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60% 
                                    td
                                      | 100%
                                    td
                                      | 100%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td(style='font-weight: bold; background: #CCC',colspan="2")
                                      | 60%   
                                    td
                                      a.btn-simple.btn.label.btn-rose(ng-click="sendToEditQuota()") 
                                        i| view
                                  tr
                                    td: input(type="checkbox")
                                    td(align='left', style='font-weight: bold; background: #e3e7ed')
                                      | Paisible
                                    td
                                      | 100%
                                    td
                                      | 100%
                                    td
                                      | 100%
                                    td
                                      | 60%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 100%
                                    td
                                      | 100%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%  
                                    td(style='font-weight: bold; background: #CCC',colspan="2")
                                      | 60% 
                                    td
                                      a.btn-simple.btn.label.btn-rose(ng-click="sendToEditQuota()") 
                                        i| view   
                            p.category.text-center(ng-show ="!classes.length") No class provided here
                          div(ng-hide="student_list")
                            div(name='student_and_school_info', style='border:1px solid black;')
                              .col-md-6(name='school_info')
                                br 
                                img.img-circle.col-md-4.col-md-push-2(src='imgs/pica.jpg', alt='School Image',style="width:20%")
                                br
                                br
                                p.col-md-6.col-md-push-2: strong
                                  | Ministry of Education
                                  br
                                  | Kigali-Nyarugenge
                                  br
                                  | Lycee de Kigali
                                  br
                                  | TeL : 0788879304
                                  br
                                  | P.O BOX 4048
                              .col-md-6(name='student_info')
                                br
                                img.img-circle.col-md-4.col-md-push-6(src='imgs/avatar.png', alt='User Image', style="width:20%")
                                br
                                br
                                br
                                br
                                p.col-md-8.col-md-push-6
                                  | NAMES: 
                                  strong Akimana
                                  br
                                  |       Class : &nbsp
                                  strong S4MEG
                              .col-md-12
                                center
                                  h3
                                    strong STUDENT'S PROGRESSIVE REPORT
                                  strong 2017 ANNUAL REPORT
                            div(name='marks_data', style='border:1px solid black;')
                              table.table.table-condensed.table-striped.table-bordered
                                thead
                                  tr
                                    th(rowspan='3')
                                      | Subject
                                  tr
                                    th(colspan='3', style='text-align:center;font-weight: bold;background: #CCC')
                                      | MAX POINTS
                                    th(colspan='3', style='text-align:center;font-weight: bold;')
                                      | FIRST TERM
                                    th(colspan='3', style='text-align:center;font-weight: bold;')
                                      | SECOND TERM
                                    th(colspan='3', style='text-align:center;font-weight: bold;')
                                      | THIRD TERM
                                    th(colspan='3', style='text-align:center;font-weight: bold;')
                                      | ANNUAL POINTS
                                  tr(align='center')
                                    th(style='text-align:center;font-weight: bold;background: #CCC')
                                      | TEST
                                    th(style='text-align:center;font-weight: bold;background: #CCC')
                                      | EXAM
                                    th(style='text-align:center;font-weight: bold;background: #CCC')
                                      | TOTAL
                                    th(style='text-align:center;font-weight: bold;')
                                      | TEST
                                    th(style='text-align:center;font-weight: bold;')
                                      | EXAM
                                    th(style='text-align:center;font-weight: bold;')
                                      | TOTAL
                                    th(style='text-align:center;font-weight: bold;')
                                      | TEST
                                    th(style='text-align:center;font-weight: bold;')
                                      | EXAM
                                    th(style='text-align:center;font-weight: bold;')
                                      | TOTAL
                                    th(style='text-align:center;font-weight: bold;')
                                      | TEST
                                    th(style='text-align:center;font-weight: bold;')
                                      | EXAM
                                    th(style='text-align:center;font-weight: bold;')
                                      | TOTAL
                                    th(style='text-align:center;font-weight: bold; background: #CCC')
                                      | MAX
                                    th(style='text-align:center;font-weight: bold;')
                                      | TOTAL
                                    th(style='text-align:center;font-weight: bold;')
                                      | %
                                tbody(align='right')
                                  //
                                    <tr>
                                    <td align="left">
                                    Behaviour
                                    </td>
                                    <td colspan="3">
                                    40
                                    </td>
                                    <td colspan="3">
                                    34
                                    </td>
                                    </tr>
                                  tr
                                    td(align='left', style='font-weight: bold; background: #e3e7ed')
                                      | Mathematics
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                  tr
                                    td(align='left', style='font-weight: bold; background: #e3e7ed')
                                      | Mathematics
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                  tr
                                    td(align='left', style='font-weight: bold; background: #e3e7ed')
                                      | Mathematics
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td
                                      | 60%
                                    td
                                      | 60%        
                                tfoot(align='right')
                                  tr
                                    td(align='left', style='font-weight: bold; ')
                                      | Total
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                    td(style='font-weight: bold; background: #CCC')
                                      | 100%
                                    td
                                      | 60%
                                    td
                                      | 60%
                                  tr
                                    td(align='left', style='font-weight: bold;')
                                      | %
                                    td(colspan='6', style='font-weight: bold;')
                                      | 60%
                                    td(colspan='3', style='font-weight: bold;')
                                      | 60%
                                    td(colspan='3', style='font-weight: bold;')
                                      | 60%
                                    td(colspan='3', style='font-weight: bold;')
                                      | 60%
                                  tr
                                    td(align='left', style='font-weight: bold;')
                                      | Position
                                    td(colspan='6', style='font-weight: bold;')
                                      | 1/10
                                    td(colspan='3', style='font-weight: bold;')
                                      | 1/10
                                    td(colspan='3', style='font-weight: bold;')
                                      | 1/10
                                    td(colspan='3', style='font-weight: bold;')
                                      | 1/10
                              .pull.pull-right
                                | MADE BY: 
                                label(style="color:red")
                                  | e-Shuri.rw
block append scripts
  script(src="../js/MIT/MIT_sweetalert2.js", type="text/javascript")
  script.
    var app =angular.module('eshuri_App', ['ngRoute']);
    app
    .filter('toNormal', function() {    
      return function(input){       
        return Number(input)+Number(2000)
      }
    })
    .filter('toTermName', function() {    
      return function(input){       
        return input=='S'?'Semester':'Term'
      }
    })
    .controller('reportCtrl', function($scope, $http,$window){
    
      $scope.getAcademicYearsList = function(){
        $http
        .get("/class.academic_years/"+$scope.selectClass)
        .then(function(response){
          $scope.academic_years= response.data;
        })
        .catch(function(erreur){
          Notifier.danger(erreur.data)
        });        
      };
      $scope.getClassList = function(){
        $http
        .get("/classe.list/"+$scope.school_id)
        .then(function(response){
          $scope.ClassList= response.data;
          console.log("Classes: "+$scope.ClassList)
        })
        .catch(function(erreur){
          Notifier.danger(erreur.data)
        });        
      };
      $scope.getListTerms = function(){
        $http
        .post("/get.Class.terms/",{academic_year:$scope.choosen_year,class_id:$scope.selectClass})
        .then(function(response){
          $scope.list_terms= response.data;
        })
        .catch(function(erreur){
          Notifier.danger(erreur.data)
        }); 
      }
      $scope.generateReport = function(){
        $http
        .post("/get.general.class.marks",{academic_year:$scope.choosen_year,class_id:$scope.selectClass,term:$scope.choosen_term})
        .then(function(response){
          //$scope.allRecords= response.data;
          console.log(response.data)
        })
        .catch(function(erreur){
          Notifier.danger(erreur.data)
        }); 
      }
      $scope.generateFullReport = function(){
        $http
        .post("/report.full",{academic_year:$scope.choosen_year,class_id:$scope.selectClass,term:$scope.choosen_term})
        .then(function(response){
          //$scope.allRecords= response.data;
          console.log(response.data)
        })
        .catch(function(erreur){
          Notifier.danger(erreur.data)
        }); 
      }
      $scope.school_id="#{school_id}";
      $scope.term_name="#{term_name}";
      $scope.user_name ="Lionel Ngendakuriyo";
      $scope.user_class= "S4MCE";
      $scope.getClassList();
      
    })
