.sidebar(style="position:fixed;")
	.logo
		.avatar
			img(src='favicon.png', alt='...',width="100%",height="auto")
		a.navbar-brand(href="/") eShuri Platform
	.sidebar-wrapper
		ul.nav.navbar-nav
			if access > 1
				li: a.btn-simple.btn.label.btn-info(href="/timeline")
					i.material-icons web_asset
					h4
						strong
							| Eshuri Wall
			if access > 1 && access!=5		
				li: a.btn-simple.btn.label.btn-success(href="/school")
					i.material-icons school
					h4
						strong
							| My school
			if access <= 4 && access != 1
				li: a.btn-simple.btn.label.btn-success(href="/library")
					i.material-icons book
					h4
						strong
							| Visit Library
			if access ==4
				li: a.btn-simple.btn.label.btn-success(href="/parents")
					i.material-icons school
					h4
						strong
							| My parents 
			if access ==5
				li: a.btn-simple.btn.label.btn-success(href="/parent")
					i.material-icons school
					h4
						strong
							| Select Student
			//Only admins has dashboard
			if access <= 2.1
				li: a.btn-simple.btn.label.btn-warning(href="/dashboard")
					i.material-icons dashboard
					h4
						strong
							| Dashboard
			if access == 4
				li: a(href="/report/#{pic_id}")
					i.material-icons local_activity
					h4
						strong
							| My report
			li: a.btn-simple.btn.label.btn-success(href="http://gocoderz.com/wp-content/uploads/articulate_uploads/Lesson_1:_Drivetrain/story_html5.html" target="_blank")
					i.material-icons code
					h4
						strong
							| Robotics Programming
			li.dropdown
				if access
					a.btn-simple.btn.label.btn-info.dropdown-toggle(data-toggle="dropdown")
						i.material-icons person
						h4
							srong
								| {{'#{pic_name}'|| 'Account'|uppercase}}
				if !access
					a.btn-simple.btn.label.btn-info.dropdown-toggle(data-toggle="dropdown")
						i.material-icons person
						h4
							strong
								| New Account
				ul.dropdown-menu
					if access
						li
							a(href="/user.settings")
								i.material-icons settings
								|	 Change your settings
					if !access
						li.divider
						li
							a(href="/user.signup")
								i.material-icons person
								h4
									strong
										|  New account
						li.divider
						li
							a(href="/user.signin")
								i.material-icons person
								h4
									strong|		Login
					if access
						li.divider
						li
							a(href="/user.logout")
								i.material-icons face
								h4
									strong
										|	Logout