extends ./layout

block content 
	.main-panel
		include partials/header 
		.wrapper.wrapper-full-page.full-page-background(ng-controller="lostCtrl")
			.full-page.register-page(filter-color="black")

block append scripts
	script(src="../js/MIT/MIT_sweetalert2.js", type="text/javascript")
	script.
		var app =angular.module('eshuri_App', ['ngRoute']);
		app.controller('lostCtrl', function($scope,$window){
		var redirect_link="#{redirect_link}";
		var mood ="#{mood}";
		var type =mood?mood:'warning'
		 swal({
			type: type,
			html: "<strong>#{msg}</strong> <br> <h6>Going back in few seconds</h6>",
			confirmButtonClass: 'btn btn-info',
			buttonsStyling: false
		})
		 $scope.secs=2;
		 if(!redirect_link)
		 	setTimeout(function(){ $window.history.back();}, $scope.secs*1000);
		 else
		 	setTimeout(function(){ $window.location.href=redirect_link}, $scope.secs*1000);
		});