extends ./layout

block append content
	.wrapper.wrapper-full-page.full-page-background(ng-controller="errorCtrl",style="background-image: url('../imgs/register.jpeg')")
		.full-page.register-page(filter-color="white")
			.container
				.row
					.col-md-10.center
						.card
							.card-content
								h1.text-center.btn-rose
									i.material-icons location_on
									| Sorry, this page doesn't exists, get back in 3 secs
								h1.text-center
									.text-danger 0{{counter}}
							

block append scripts
	script.
		var app =angular.module('eshuri_App', ['ngRoute']);

		app.controller('errorCtrl', function($scope,$window, $timeout){
			$scope.secs=3;
			setTimeout(function(){ 
				$window.history.back();
			}, $scope.secs*1000);
			$scope.counter = 3;
			$scope.onTimeout = function(){
				$scope.counter--;
				mytimeout = $timeout($scope.onTimeout,1000);
			}
			var mytimeout = $timeout($scope.onTimeout,1000);
			$scope.stop = function(){
				$timeout.cancel(mytimeout);
			}
		});