.print-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.report-th{
  font-weight: bold;
  text-align:center;
}
.report-td{
  font-weight: bold; 
  background: #e3e7ed; 
  text-align:left;
}
.report-td-pct{
  font-weight: bold;
  background: #CCC
}
.report-td-name{
  font-weight: bold; 
  background: #e3e7ed; 
  text-align:left;
}
.set-height td {
  position: relative;
  overflow: hidden;
  height: 2em;
}
.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 2px;
    border-radius: 6px;
}
.table-curved td, .table-curved th {
    border-left: 0px solid #ccc;
    border-top: 0px solid #ccc;
}
.table-curved tr > *:first-child {
    border-left: 0px;
}
.table-curved tr:first-child > * {
    border-top: 0px;
}
td.tb-container > div {
    width: 100%;
    height: 100%;
    overflow:hidden;
}
td.tb-container {
    height: 10px;
}
/*@media print
{
body * { visibility: hidden; }
#printableArea * { visibility: visible; }
#printableArea { position: absolute; top: 40px; left: 30px; }
}*/