extends ../layout
block content 
	.main-panel
		include ../partials/header
		.wrapper.wrapper-full-page.full-page-background(ng-controller="resetPassCtrl",style="background-image: url('../imgs/login.jpeg')")
			.full-page.login-page(filter-color="green")
				.content
					.container
						.row
							.col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
								form(ng-submit="resetPass()")
									.card.card-login.card-hidden
										.card-header.text-center(data-background-color="green")
											h4.card-title Reset your password
										.card-content
											.input-group
												span.input-group-addon.icon.ion-ios-locked-outline
												.form-group.label-floating
													label.control-label Define a new password
													input.form-control(type="password",autocomplete="off",ng-model="nvUser.new_password")#pass1
											.input-group
												span.input-group-addon.icon.ion-ios-locked-outline
												.form-group.label-floating
													label.control-label Confirm new password
													input.form-control(type="password",autocomplete="off",ng-model="nvUser.new_password2",equalTo="#pass1")
										.footer.text-center
											button.btn.btn-rose.btn-simple.btn-wd.btn-lg(type="submit") Reset
block append scripts
	script(src="../js/MIT/MIT_sweetalert2.js", type="text/javascript")
	script.
		var app =angular.module('eshuri_App', ['ngRoute']);

		app.controller('resetPassCtrl', function($scope, $http, $window){
			$scope.resetPass = function(){
				$scope.nvUser._csrf=$scope.anti_csrf;
				$scope.nvUser.reset_token =$scope.token;
				$scope.nvUser.reset_mail =$scope.mail;
				$http
				.post("/password.reset",$scope.nvUser)
				.then(function(response){
					swal({
						type: 'success',
						html: 'Your password was successfully changed',
						confirmButtonClass: 'btn btn-success',
						buttonsStyling: false
					})
					setTimeout(function(){$window.location.href="/user.signin"; }, 2000);	
				})
				.catch(function(erreur){
					Notifier.danger(erreur.data);
				}); 
			}
			
			$scope.anti_csrf ="#{csrf_token}";
			$scope.mail ="#{reset_mail}";
			$scope.token ="#{reset_token}";

			setTimeout(function() {
				// after 1000 ms we add the class animated to the login/register card
				$('.card').removeClass('card-hidden');
			}, 700)
		});