extends ../layout

block append content 
	//- .main-panel
		include ../partials/header 
	.wrapper.wrapper-full-page.full-page-background(ng-controller="homePageCtrl",style="background-image: url('../imgs/register.jpeg')")
		.full-page.login-page
			.content
				.container
					.row
						.col-md-8.col-md-offset-2.col-sm-offset-3
							.card.card-testimonial
								p.icon.ion-quote
								.card-content
									//- h5.card-description
									//- 	| Anyone can code but not anyone  can code with passion and security in mind. My passion is to build awesome code and make a great work !
									h2
									b About Eshuri
									p
									p
									b Eshuri is an online learning system which provide the following services
									p
									| 1. 
									b Online courses:
									|   we provides full online courses where whoever want can have the latest course and study from the basics to advanced level. Those who have introduction on the subject, they will be able to have the latest updates of their knowledge.
									p
									| 2. 
									b Digital content:
									|  we provide also the digitalized content for studies either in primary schools, secondary and universities depending on school one’s is subscribed in.
									p
									| 3. 
									b Virtual classes:
									|  the physical classes have been digitalized and they can be followed online even better on live where students can follow courses from different areas.
									p
									| 4.
									b  Online libraries:
									|  we provide an online library with free access to more than 8000 online books of different subjects and fields. User can consult then for their own research.
									p
									| 5.
									b  Online certificates:
									|  if the user choose to take an online course, depending to the option of his choice he/ she is beneficiary of the certificate of completion even better the degree issued by the school which delivered the course.
									p
									| 6.
									b  Online support:
									|  each of our services has the support 24 hours a week to facilitate the users the smooth services on our system.

								.footer
									h4.card-title NYIRINKINDI Marcel
									h6.card-title Senior Software Architect
									//- h6.card-avatar
										//- a(href="https://twitter.com/AJAkimana")
										//- 	img.img(src="https://pbs.twimg.com/profile_images/774430671775338496/9a0ExLaX_bigger.jpg")
block append scripts
	script.
		var app =angular.module('eshuri_App', ['ngRoute']);