extends ../../layout
block content 
	.main-panel
		include ../../partials/header 
		.wrapper.wrapper-full-page.full-page-background(ng-controller="add_Note_Ctrl",style="background-image: url('../imgs/register.jpeg')")
			.full-page.login-page
				.content
					.container-fluid
						.row
							.col-md-6.center
								.card
									.card-header.card-header-icon(data-background-color="rose")
										i.material-icons attach_file
									.card-content
										.row
											.col-md-12.center
												a.label.btn.btn-fill.btn-danger.pull-right(href="/courses/"+course_id) Cancel
												h3.card-title.text-center Add a new pdf note to <strong>{{'#{unit_name}'|uppercase}}</strong> 
												form(action="/content.add.note",method="POST",enctype="multipart/form-data")
													.form-group.label-floating
														label.control-label Title of this pdf note
														input.form-control(type="text",required="true",name="title")
													.form-group.label-floating
														button.btn.btn-success.btn-round Click to upload
															i.material-icons attach_file
														input(type="file",required="true",name="pdf_note",ng-model="noteName")
														input(type="hidden",value="{{unit_id}}",name="unit_id")
													button.btn.btn-fill.btn-rose(type="submit").pull-right Submit
block append scripts
	script.
		var app =angular.module('eshuri_App', ['ngRoute']);
		app
		.controller('add_Note_Ctrl', function($scope, $http){

			$scope.unit_id ="#{unit_id}"
			$scope.anti_csrf ="#{csrf_token}";
		})