extends ../layout
block append content 
	.wrapper.wrapper-full-page.fullff-page-background(style="background-image: url('../imgs/register.jpeg')")
		.full-page.register-page(filter-color="white", ng-controller="applicationViewCtlr")
			.content.reg_touch
				.container.no-padding()
					.col-md-10.center
						.col-sm-10

						.col-md-12.app_cont
							.card
								.card-header(data-background-color="blue")
									h4.title Applications
									h4.pull-right {{applications.length}}
									p.category View your application status here
								.card-content
									.table-responsive(ng-show ="applications.length")
										table.table
											thead.text-primary
												tr
													th School Name
													th Year
													th Program
													th Status
											tbody
												tr(ng-repeat="application in applications")
													td {{application.school_name|uppercase}}
													td {{application.year_o_s}}
													td {{application.faculty|uppercase}}
													td.text-primary {{application.status|to_Status}}
									h4.category.text-center(ng-show ="!applications.length") 
										|You haven't applied yet  
										a.btn-simple.btn-rose.pull-right(href="/application.new") Apply now
												
block append scripts
	script(src="../js/select/select.js", type="text/javascript")
	//- script(src="../js/_app.js", type="text/javascript")
	script.
		var app =angular.module('eshuri_App', ['ngRoute']);
		app.filter('to_Status', function() {
			return function(input){
				//- if(isNaN(input)) return '----';
				switch(input){
					case 'A': input ="Admitted";break;
					case 'P': input ="Pending";break;
					case 'F': input ="Missing information";break;
					case 'R': input ="Rejected"; break;
					default: input="___";break;
				}
				return input;
			}
		})
		.controller('applicationViewCtlr', function($scope, $http, $window){
			$scope.loadApplications = function(){
				$http
				.get('/view.application')
				.then(function(response){
					var appData = response.data
					$scope.applications = response.data.applications;
				})
			}
			$scope.loadApplications()
		})	