extends ../layout
block append content 
	//- .main-panel
		include ../partials/header 
	.wrapper.wrapper-full-page.full-page-background(ng-controller="studentCtrl",style="background-image: url('../imgs/register.jpeg')")
		.full-page.login-page
			.content
				.container-fluid
					.row
						.col-md-8.center
							.card
								.card-header.card-header-icon(data-background-color="rose")
									i.material-icons supervisor_account
								.card-content
									h5.card-title Give higher privileges to a teacher
									.col-md-12.text-right
										a.btn-simple.btn.label.btn-rose(data-toggle="modal" data-target="#add_student_Modal") Add new student
											i.material-icons person_outline
									.col-md-12
										h3.text-center List of students at 
											strong {{'#{school_name}'|uppercase}}
											p
												strong(ng-bind="current_students")
												| Current students, 
												strong(ng-bind="finalists")
												| Alumni
										.table-responsive(ng-show="students.length")
											form.form-inline
												.form-group.pull-left
													label Show
													select.form-control(ng-init="n_pages=10", ng-model="n_pages", value="10")
														option(value="{{pag}}", ng-repeat="pag in pages") {{pag}}
													label /page
												.form-group.pull-right
													input.form-control(type='text', ng-model='search', placeholder='Search')
											table.table
												thead
													th.text-center #
													th: a.btn-simple.btn.label.btn-rose(ng-click="a='name';b=!b")  Name
													th: a.btn-simple.btn.label.btn-rose(ng-click="a='URN';b=!b")  URN
													th: a.btn-simple.btn.label.btn-rose(ng-click="a='email';b=!b")  E-mail
													th: a.btn-simple.btn.label.btn-rose(ng-click="a='classe';b=!b")  Student class
													//- th: a.btn-simple.btn.label.btn-rose Actions

												tbody
													tr(pagination-id="allstudents", dir-paginate="student in students |orderBy:a:b|filter:search|itemsPerPage:n_pages")
														td(width="1%" height="1%") {{$index + 1}}
														td: a(href="/user/{{student._id}}") {{student.name | uppercase}}
														td {{student.URN | uppercase}}
														td {{student.email }}
														td {{student.classe }}
														//- td.td-actions
															.card(ng-show="student.class_id==null")
																.card-content
																	| dsfds
											dir-pagination-controls.pull-right(pagination-id='allstudents', max-size='5', direction-links='true', boundary-links='true')
										p.category.text-center(ng-show ="!students.length") No students registered here
						#add_student_Modal.modal.fade
							.modal-dialog
								.modal-content
									.modal-header
										button.close(type='button', data-dismiss='modal') ×
										h4.modal-title(ng-if="act!='e'") Register new student
									.modal-body
										.row
											.col-md-4
												input.form-control(type='text',placeholder='Student names',ng-model='student.names')
											.col-md-5
												input.form-control(type='text',placeholder='Email',ng-model='student.email')
											.col-md-3
												input.form-control(type='text',placeholder='Contact',ng-model='student.phone_number')
										.row
											.col-md-6
												h4.info-text Gender
												.radio
													label
														input(name='maritus', type='radio', ng-model='student.gender', value='1')
														| Male
												.radio
													label
														input(name='maritus', type='radio', ng-model='student.gender', value='2')
														| Female
											.col-md-6
												select.form-control(ng-model='student.class_id')
													option(value='') Select student class
													option(ng-repeat='lc in list_classes', value='{{lc._id}}', ng-bind="'S'+lc.name|uppercase")
										button.btn.btn-danger(ng-click='saveStudent()') Save
										button.btn.btn-default.pull-right(data-dismiss='modal') Close
block append scripts
	script(src="../js/MIT/MIT_sweetalert2.js", type="text/javascript")
	script.
		var app =angular.module('eshuri_App', ['ngRoute', 'angularUtils.directives.dirPagination']);
		app
		.controller('studentCtrl', function($scope,$http){
			$scope.getListStudents = function(){
				$scope.finalists=0;
				$scope.current_students=0;
				$http
				.post("/school.students.json",{_csrf:$scope.anti_csrf,school_id:$scope.school_id })
				.then(function(response){
					$scope.students = response.data;
					for(var i=0; i<$scope.students.length; i++){
						if($scope.students[i].classe==="Alumnus") $scope.finalists++;
						else $scope.current_students++;
					}
				})
				.catch(function(erreur){
					Notifier.danger(erreur.data);
				});
			}
			$scope.getListClasses=()=>{
				$http
				.get("/dashboard.class.signup/"+$scope.school_id)
				.then(function(response){
					$scope.list_classes = response.data;
				})
				.catch(function(erreur){
					Notifier.danger(erreur.data);
				});
			}
			$scope.saveStudent=()=>{
				$scope.student.csrf=$scope.anti_csrf;
				$scope.student.school_id=$scope.school_id;
				$http
				.post("/school.student.add",$scope.student)
				.then(function(response){
					$scope.getListStudents();
					Notifier.success("Operation successful! "+$scope.student.names.toUpperCase()+" registered.");
				})
				.catch(function(erreur){
					Notifier.danger(erreur.data);
				});
			}
			$scope.pages=[3,5,10,15,20,25];
			$scope.anti_csrf ="#{csrf_token}";
			$scope.school_id ="#{school_id}";
			$scope.getListStudents();
			$scope.getListClasses();
		})
//- email, names, gender, contact, class,